<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <title>story</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
        label {
            font-size: larger;
        }
    </style>

</head>
<body>

<h1>Add User Story</h1>

<form name="userStoryForm" action="/story" method="post">
    <p>
        <label for="title">Story Title:</label><br>
        <input type="text" id="title" name="title" minlength="5" maxlength="100" size="30" required/>
    </p>
    <p>
        <label for="story">User Story:</label><br>
        <textarea type="text" id="story" name="story" cols=50 rows="4" maxlength="400" required></textarea>
    </p>
    <p>
        <label for="criteria">Acceptance Criteria:</label><br>
        <textarea type="text" id="criteria" name="criteria" cols=50 rows="4" maxlength="400" required></textarea>
    </p>
    <p>
        <label for="value">Business Value:</label><br>
        <input type="number" id="value" name="value" size="10" min="0.5" max="40.0" step="0.5" required/>
    </p>
    <p>
        <label for="estimation">Estimation:</label><br>
        <input type="number" id="estimation" name="estimation" min="1" max="9999" step="1" required/>
    </p>

    <p>
        <button type="submit">Add new User Story</button>
    </p>
</form>

</body>
</html>